{
    "useTabs": true,
    "minapp-vscode.resolveRoots": ["node_modules", "src"],
    "jsxSingleQuote": true,
    "javascript.format.insertSpaceAfterSemicolonInForStatements": false,
    "typescript.format.insertSpaceAfterSemicolonInForStatements": false,
    "requireConfig": true,
    "useEditorConfig": false,
    "tabWidth": 4,
    "singleQuote": true,
    "semi": false
}
